html {
    font-size: 0.1333333333vw;
}
a{
    text-decoration: none;
    color: black;
}

.cb-box {
    max-width: 100%;
    margin: 80px auto 20rem;
}

@media (min-width: 960px) {
    html {
        font-size: 0.10416667vw;
    }

    .cb-box {
        max-width: 80%;
        margin: 80px auto 20rem;
    }
}

@media (min-width: 1366px) {
    html {
        font-size: 0.07320644vw;
    }

    .cb-box {
        max-width: 70%;
        margin: 80px auto 20rem;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 0.05208333vw;
    }

    .cb-box {
        max-width: 60%;
        margin: 80px auto 20rem;
    }
}

body{
    font-size: 14px;
}

/*.box {*/
/*    !*width: 960px;*!*/
/*    margin: 20px auto;*/
/*    border: 1px solid #ccc;*/
/*    padding: 30px;*/
/*    border-radius: 15px;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, 200px);*/
/*    gap: 25px 25px;*/
/*    justify-content: center;*/
/*}*/


.cb-item-header {
    height: 100rem;
}


.cb-item-img {
    max-height: 80%;
    height: 36rem;
}

.cb-item-title {
    flex: 1;
    padding: 0 16rem;
    font-weight: bold;
}

.cb-item-body {
    color: #666;
}

.cb-item-btn {
    min-width: auto;
}

.mdui-panel-item-open .cb-arrow-icon {
    transform: rotate(180deg);
    transition: all .2s ease;
}


.item-time {
    font-size: 10rem;
    color: #666;
}

.item-more-view {
    width: 100%;
    height: 150px;
    background: rgba(140, 140, 140, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(150px);
    transition: all 0.5s ease;
}

.more-btn {
    display: block;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    border-radius: 15px;
    color: white;
    line-height: 30px;
    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;
}

.detail-btn {
    background: rgb(22, 159, 205);
}

.delete-btn {
    background: rgb(205, 79, 63);
}

.download-btn {
    background: rgb(86, 205, 88);
}

.upload-item, .create-item {
    cursor: pointer;
}

#upload-input {
    display: none;
}



/*预览*/
.file-view {
    position: fixed;
    width: 800px;
    height: 80vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #666;
}

.close-btn {
    position: absolute;
    z-index: 99;
    width: 24px;
    height: 24px;
    background: #c9302c;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.content-view {
    width: 100%;
    height: 100%;
    overflow: scroll;
    white-space: pre-line;
}

.img-view {
    position: fixed;
    background: rgba(60, 60, 60, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.img-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 80vh;
    max-width: 80vw;
}

.create-view {
    position: fixed;
    width: 350px;
    height: 160px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #666;
}


.create-btn {
    display: block;
    margin: 20px auto;
    width: 80px;
    height: 32px;
    background: #5bc0de;
    border-radius: 16px;
    color: #ffffff;
}