<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>


    <title>文件系统</title>
    <link rel="stylesheet" href="//static.crazyball.xyz/common-resource/mdui/css/mdui.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/monokai.min.css">
    <link rel="stylesheet" href="/_static/css/main.css">
</head>

<body class="mdui-theme-primary-blue">
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="/" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">&#xe88a;</i></a>
        <button class="mdui-btn mdui-btn-icon back-btn"><i class="mdui-icon material-icons">&#xe5c4;</i></button>
        <div class="mdui-toolbar-spacer">
            <div style="text-align: center">当前路径：{{.basePath}}</div>
        </div>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
    </div>
</div>

<div class="mdui-panel cb-box" mdui-panel>
    {{range $i,$dir := .dirList}}
        <div class="mdui-panel-item">
            <div class="mdui-panel-item-header cb-item-header">
                {{if $dir.IsDir}}
                    <img class="cb-item-img" src="/_static/img/dir.png" alt="">
                {{ else }}
                    <img class="cb-item-img" src="/_static/img/file.png" alt="">
                {{ end }}
                <div class="cb-item-title">
                    {{if $dir.IsDir}}
                        <a href="{{$dir.Path}}">{{$dir.Name}}</a>
                    {{else}}
                        <span>{{$dir.Name}}</span>
                    {{end}}
                </div>
                <i class="mdui-icon material-icons cb-arrow-icon">keyboard_arrow_down</i>
            </div>
            <div class="mdui-panel-item-body">
                <div class="cb-item-body">
                    <p>路径：{{$dir.Path}}</p>
                    {{if not $dir.IsDir}}
                        <p>大小：{{$dir.SizeStr}}</p>
                    {{end}}
                    <p>修改时间：{{$dir.ModTimeStr}}</p>
                </div>
                <div class="mdui-panel-item-actions">
                    <button class="mdui-btn mdui-ripple mdui-text-color-grey cb-item-btn" mdui-panel-item-close>取消
                    </button>
                    {{if not $dir.IsDir}}
                        <button class="cb-detail-btn cb-item-btn mdui-btn mdui-ripple mdui-text-color-blue"
                                attr-href="{{$dir.Path}}" attr-size="{{$dir.Size}}" attr-isImg="{{$dir.IsImg}}"
                                attr-isVideo="{{$dir.IsVideo}}">查看
                        </button>
                        <a class="cb-download-btn cb-item-btn mdui-btn mdui-ripple mdui-text-color-green"
                           href="{{$dir.Path}}" download>下载</a>
                    {{end}}
                    <a class="cb-delete-btn cb-item-btn mdui-btn mdui-ripple mdui-text-color-red"
                       attr-filePath="{{$dir.Path}}">删除</a>
                </div>
            </div>
        </div>
    {{end}}
</div>

{{/*悬浮按钮*/}}
<div class="mdui-fab-wrapper" mdui-fab="{trigger: 'hover'}">
    <button class="mdui-fab mdui-ripple mdui-color-theme">
        <!-- 默认显示的图标 -->
        <i class="mdui-icon material-icons">menu</i>
        <!-- 在拨号菜单开始打开时，平滑切换到该图标，若不需要切换图标，则可以省略该元素 -->
        <i class="mdui-icon mdui-fab-opened material-icons">close</i>
    </button>
    <div class="mdui-fab-dial">
        <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink cb-upload-btn">
            <label class="mdui-icon material-icons" for="cb-upload-input">
                backup
            </label>
            <form action="/upload" method="post" class="cb-upload-form" enctype="multipart/form-data">
                <input type="text" value="{{.basePath}}" name="basePath" hidden>
                <input type="file" id="cb-upload-input" multiple name="files">
            </form>
        </button>
        <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-green cb-create-item">
            <i class="mdui-icon material-icons">
                create_new_folder
            </i>
        </button>
    </div>
</div>

{{/*创建文件夹*/}}
<div class="mdui-dialog" id="cb-create-view">
    <div class="mdui-dialog-title">创建文件夹</div>
    <form action="/mkdir" method="post" class="mkdir-form">
        <div class="mdui-dialog-content">
            <input type="text" value="{{.basePath}}" name="basePath" hidden>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">名称</label>
                <input class="mdui-textfield-input create-input" type="text" name="dirName"/>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" type="submit">Submit</button>
        </div>
    </form>
</div>

{{/*查看内容*/}}
<div class="mdui-dialog" id="cb-content-view">
    <pre><code></code></pre>
</div>

{{/*查看图片*/}}
<div class="mdui-dialog" id="cb-img-view">
</div>

{{/*删除提示*/}}
<div class="mdui-dialog" id="cb-remove-tips">
    <div class="mdui-dialog-content">是否删除该项？</div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        <button class="mdui-btn mdui-ripple cb-delete-confirm">确定</button>
    </div>
</div>

{{/*loading*/}}
<div class="mdui-dialog" id="cb-loading-view">
    <div class="mdui-progress">
        <div class="mdui-progress-determinate"></div>
    </div>
</div>

{{/*global-loading*/}}
<div class="mdui-dialog" id="cb-global-loading-view">
    <div class="mdui-progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
</div>

<div class="mdui-dialog" id="cb-video-view">
</div>


</body>

<script src="/_static/jquery/jquery.min.js"></script>
<script src="//static.crazyball.xyz/common-resource/mdui/js/mdui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script src="/_static/js/main.js"></script>

</html>