<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="/static/common-resouce/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/file-manager-go/css/main.css">
</head>

<body>
  <div class="box">
    {{range $i,$dir := .dirList}}
    <div class="dir-item">
      <!-- <img class="item-more" src="static/img/more.png" alt=""> -->
      {{if $dir.is_dir}}
      <img class="item-img" src="/static/file-manager-go/img/dir.jpg" alt="">
      {{ else }}
      <img class="item-img" src="/static/file-manager-go/img/file.jpg" alt="">
      {{ end }}
      <p class="item-title">{{$dir.name}}</p>
      {{if not $dir.is_dir}}
      <p class="item-size">Size: {{$dir.size | formatFileSize}}</p>
      {{end}}
      <p class="item-time">修改时间：{{$dir.modify_time | formatTime}}</p>
      <div class="item-more-view">
        <a class="detail-btn more-btn" attr-href="{{$dir.name}}">查看</a>
        <a class="download-btn more-btn" href="">下载</a>
        <a class="delete-btn more-btn" href="">删除</a>
      </div>
    </div>
    {{end}}
    <label class="dir-item upload-item" for="upload-input">
      <img class="upload-img" src="/static/file-manager-go/img/upload.png" alt="">
      <p class="upload-title">上传</p>
      <input type="file" id="upload-input" multiple>
    </label>
  </div>

</body>


<script src="/static/common-resouce/jquery/jquery.min.js"></script>
<script src="/static/common-resouce/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/file-manager-go/js/main.js"></script>

</html>